* {
    color : white;
    background : red;
}

body {
    font-style: italic;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin-top: 300px;
}

a {
    text-decoration: none;
    color: yellow;
    font-size: 30px;
    text-align: center;
}
